*
{
    margin: 0;
    padding: 0;
    font-family: conclas;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: black;


}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: rgb(132, 0, 255);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px liner-gradient(transparent,#0005);


}
a:nth-child(1)
{
    filter:hue-rotate(290deg);
}
a:nth-child(3)
{
    filter:hue-rotate(110deg);
}
a:hover
{
    background-color: chartreuse;
    color: rgb(14, 255, 26);
    box-shadow: 0 0 5px rgba(4, 4, 248, 0.664),
    0 0 25px rgb(7, 7, 73),
    0 0 50px rgb(201, 201, 221),
    0 0 200px rgb(6, 6, 255);
}
a span
{
    position: absolute;
    display: block;
}
a span:nth-child(2)
{
    top: -100px;
    
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(255, 255, 255));
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}
a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,darkblue);
    animation: animate3 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}
a span:nth-child(4)
{
    bottom: -100px;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(211, 10, 10));
    animation: animate4 2s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}








